<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/edit}" th:object="${blog}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Id</td>
            <td><input type="hidden" name="id" th:value="${blog.getId()}"/></td>
        </tr>
        <tr>
            <td>Title:</td>
            <td><input type="text" name="title" th:value="${blog.getTitle()}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" name="content" th:value="${blog.getContent()}"/></td>
        </tr>
        <tr>
            <td>Img:</td>
            <td><input type="file" name="upImg" th:value="${blog.getImg()}"/></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select name="idCategory" class="btn btn-secondary">
                    <div th:each="b :${category}">
                        <option th:text="${b.name}" th:value="${b.id}" th:selected="${blog.getCategory().getId() == b.getId()}"></option>
                    </div>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Edit Blog"></td>
        </tr>
    </table>
</form>
</body>
</html>